spring:
  datasource:
##   Local H2
#    url: jdbc:h2:tcp://localhost/~/login
#    username: sa
#    password: 123
#    driver-class-name: org.h2.Driver

    # Local postgres
    url: jdbc:postgresql://localhost:5432/cineffi
    username: minn
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

---
## dev profile (Docker ìš©)
spring:
  config:
    activate:
      on-profile:
        - dev
  datasource:
    url: jdbc:postgresql://localhost:5432/cineffi
    username: root
    password: n1234
    driver-class-name: org.postgresql.Driver
server:
  port: 4000
